.basket-wrapper {
  margin: 30px 0;
}

.basket {
  position: relative;
  height: 225px;
  max-height: 225px;
  overflow-y: auto;
  border: 1px solid $border-c;

  .basket-empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    color: $muted-c;
  }

  &-items {
    width: 100%;
    max-width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
  }

  &-item {
    border: 0;
    border-bottom: 1px solid $border-c;
    display: table-row;

    &-name {
      text-transform: capitalize;
    }

    &.text-clip {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }

    &-remove {
      width: 100%;
    }

    .field {
      width: (80 / 3) + %;
      max-width: (80 / 3) + %;
      padding: $general-pad;
      display: table-cell;
    }

    .basket-item-quantity,
    .basket-item-remove-wrapper {
      width: 10%;
    }
  }
}

.basket-summary-wrapper {
  width: 100%;
  max-width: 100%;
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  .basket-summary {
    border-left: 1px solid $border-c;
    border-bottom: 1px solid $border-c;
    border-right: 1px solid $border-c;
    display: table-row;

    .field {
      display: table-cell;
      padding: 0 $general-pad;
    }

    &-quantity {
      width: ((80 / 3) * 2 + 10) + %;
      max-width: ((80 / 3) * 2 + 10) + %;

      &.field {
        padding-right: 0;
      }
    }

    .basket-summary-price {
      padding: 0;
    }

    // &-price {
    //   width: (80 / 3) + "%";
    //   max-width: (80 / 3) + "%";
    // }

    .subtotal,
    .total {
      box-sizing: border-box;
      display: inline-block;
      width: 50%;
      padding: $general-pad;
    }

    .subtotal {
      padding-left: 0;
    }

    .total {
      border-left: 1px solid $border-c;
    }
  }
}
