.menu-item {
  padding: 15px;
  border: 1px solid #ddd;
  width: 25%;
  margin: 5px;
  display: inline-block;
  vertical-align: top;

  &-name {
    margin: 0 0 15px;
    text-transform: capitalize;
  }

  &-image {
    // temporary
    // width: 200px;
    // height: 125px;
    width: 100%;
    margin: 15px auto;
  }
}