$info:  #e7e7e7;
$error: $c-error;

#flash-message-wrapper {
  display: none;
  font-weight: bold;
  font-size: 14px;

  @include clearfix();

  &.show {
    display: block;
    padding: $s-general;
    margin-bottom: $s-general * 2;
    border: 1px solid $c-border;
    border-radius: $r-general;

    @include animation(fadeIn 0.4s ease-in);
  }

  &.info {
    background-color: $info;
    border-color: #c7c7c7;
    color: #5f5f5f;

    .flash-message-body {
      list-style-type: none;
    }

    li {
      margin-bottom: 0;
    }
  }

  &.error {
    background-color: #f9f6f0;
    border-color: $error;
    color: $error;

    .flash-message-close {
      color: $error;
      border-color: $error;
    }
  }

  .flash-message-body {
    float: left;
    width: 95%;
    margin: 0;
    list-style-type: disc;
  }

  .flash-message-close {
    float: right;
    width: 28px;
    height: auto;
    line-height: normal;
    padding: ($s-general - 4px) $s-general;
    border-radius: $r-general;
  }
}
