// Table

.sidebar-left {
  @include span-columns(3, 'block-collapse');

  height: 95%;
  border-right: 1px solid #ccc;
	
	.table-info {
		@include pad($general-pad);

		height: 30%;
		max-height: 30%;
		border-bottom: 1px solid #ccc;
	}

	.patrons-nav {
		@include pad($general-pad);

		height: 70%;
		max-height: 70%;
		@include mm-touch-scroll;
	}
}

.main-content {
	@include span-columns(9);
	@include omega;

	height: 95%;

	.patron-info {
		@include pad($general-pad);

		height: 30%;
		max-height: 30%;
		border-bottom: 1px solid #ccc;
	}

	.menu {
		height: 70%;
		max-height: 70%;
	}

	.menu-nav {
		@include pad($general-pad);

		height: 12%;
		max-height: 12%;
		border-bottom: 1px solid #ccc;
	}

	.menu-items {
		@include pad($general-pad);

		height: 88%;
		max-height: 88%;
		@include mm-touch-scroll;
	}
}