// Main

// dev
$visual-grid: false;
$visual-grid-color: yellow;
$visual-grid-opacity: 0.2;


@import "bourbon";
@import "neat";


// themes
$l-color:   #222222;
$l-bg:      #ECF0F1;
$l-border:  #BDC3C7;
$l-heading: #2C3E50;

$d-color:   #ECF0F1;
$d-bg:      #2C3E50;
$d-border:  #BDC3C7;
$d-heading: #E67E22;


// vars
$general-pad: 0.5em;


// mixins -- prefixed with mm

@mixin mm-touch-scroll() {
	overflow-y: scroll;
	overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar { 
    display: none; 
	}
}


@import '_common';
@import '_table';