doctype html
html
  head
    title MenuMate

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='icon' href='/img/favicon.ico')
    
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600', rel='stylesheet', type='text/css')

    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/base.css')
  body
    block content
    
  script(src='https://checkout.stripe.com/checkout.js')
  script(src='/js/main.js')
