.is-disabled {
  background: url(#{$path}stripe-bg.png);
}

.is-selected {
  background: $c-light-gray;  
}

button[disabled]:hover,
button[disabled]:focus {
  border: 1px solid $c-button-border;
  color: $c-button-text;
}
