.basket-wrapper {
  margin: $s-general * 3 0;
}

.basket {
  position: relative;
  height: 35vh;
  max-height: 35vh;
  overflow-y: auto;
  border: 1px solid $c-border;

  &.only-items {
    height: 25vh;
    max-height: 25vh;
  }

  select {
    margin-bottom: 0;
  }

  &-items {
    width: 100%;
    max-width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
  }

  &-item {
    border: 0;
    border-bottom: 1px solid $c-border;
    display: table-row;

    &-name {
      text-transform: capitalize;
      font-weight: bold;
    }

    &.text-clip {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }

    &-remove {
      width: 100%;
    }

    .field {
      width: (85 / 3) + %;
      max-width: (85 / 3) + %;
      padding: $s-general;
      display: table-cell;
      vertical-align: middle;
    }

    .basket-item-quantity,
    .basket-item-remove-wrapper {
      width: 15%;
    }
  }
}

.basket-actions {
  padding: $s-general;
  border: 1px solid $c-border;
  border-bottom: 0;
}

.basket-summary-wrapper {
  width: 100%;
  max-width: 100%;
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  .basket-summary {
    border-left: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    border-right: 1px solid $c-border;
    display: table-row;

    .field {
      display: table-cell;
      padding: 0 0 0 $s-general;
    }

    &-quantity {
      width: ((85 / 3) * 2) + 5  + %;
      max-width: ((85 / 3) * 2) + 5  + %;
    }

    .subtotal,
    .total {
      box-sizing: border-box;
      display: inline-block;
      width: 50%;
      padding: $s-general;
    }

    .total {
      border-left: 1px solid $c-border;
    }
  }
}

.basket-summary-price .total {
  background-color: $c-light-gray;
  font-weight: bold;
}
