.required {
  &:after {
    display: inline-block;
    content: "*";
    color: $c-error;
    font-size: 0.8em;
    margin-left: $s-general;
  }
}

.radio-wrapper {
  label {
    border: 1px solid $c-border;
    border-radius: $r-general;
    padding: $s-general / 2 $s-general;
    margin-bottom: 1.5rem;
  }

  input[type="radio"] {
    margin: 0;
  }
}

.checkbox-wrapper {
  label {
    margin-bottom: 1.5rem;
  }

  input[type="checkbox"] {
    margin: 0;
  }
}

.checkbox-label,
.radio-label {
  padding-right: $s-general;
}


.label {
  display: inline-block;
  margin-right: 10px;
  color: $c-label;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.label-block {
  display: block;
  margin: 0;
}

.field-label {
  @extend .label;
  min-width: 100px;

  &.label-width-auto {
    min-width: inherit;
  }
}
