.list-wrapper {
  box-sizing: border-box;
  position: relative;
  border: 1px solid $c-border;
  height: 60vh;
  overflow: auto;

  .manage-list-item {
    box-sizing: border-box;
    width: 100%;
    display: table;
    empty-cells: show;
    padding: $s-general;
    margin: 0;
    border-bottom: 1px solid $c-border;

    .bottom-row {
      padding-top: $s-general;
      margin-top: $s-general;
      border-top: 1px dashed $c-border;

      @include clearfix;
    }

    &.is-active {
      .item-status {
        color: $c-green;
      }
    }

    .field {
      display: table-cell;
      max-width: 100 / 3 + %;
    }

    .item-id,
    .item-details {
      width: 10%;
      max-width: 50px;
      padding-right: $s-general;
    }
    .item-details:empty {
      content: "";
      width: 100%;
    }
    .item-name {
      width: 85%;
      font-weight: bold;
    }
    .item-status {
      float: right;
      display: inline-block;
      min-width: 60px;
      text-align: center;
      font-size: 0.85em;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 0 $s-general / 2;
      margin: 0 $s-general;
      border: 1px dashed $c-border;
      color: $c-muted;
    }

    .item-edit {
      float: right;
      padding: 0 $s-general * 2;
      line-height: inherit;
      height: auto;
    }
  }
}

.list-wrapper-summary {
  padding: $s-general;
  border: 1px solid $c-border;
  border-top: 0;
  font-size: 0.9em;
}
