.menu {
  height: 50vh;
  overflow-y: auto;
  border: 1px solid $c-border;

  &-item {
    box-sizing: border-box;
    padding: $s-general * 2;
    margin: $s-general;
    border: 1px solid $c-border;
    width: 30%;
    display: inline-block;
    vertical-align: top;

    &-name {
      margin: 0 0 $s-general;
      text-transform: capitalize;
    }

    &-image {
      width: 100%;
      height: auto;
      display: block;
      margin: $s-general auto;
    }

    &-add {
      width: 100%;
    }
  }

  &.list-view &-item {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid $c-border;
    display: table;

    .field {
      width: 35%;
      padding: $s-general;
      display: table-cell;
    }

    .menu-item-add-wrapper {
      width: 30%;
    }
  }

  &-item-details {
    .field {
      margin-bottom: $s-general * 2;
    }
  }
}

.menu-item-name {
  font-size: 1.9rem;
  font-weight: bold;
}

.menu-display {
  border: 1px solid $c-border;
  border-top: 0;
  padding: $s-general;
  margin-bottom: $s-general;
}
