.menu {
  position: relative;
  height: 50vh;
  overflow-y: auto;
  border: 1px solid $c-border;

  &-item {
    box-sizing: border-box;
    margin: $s-general;
    width: 30%;
    display: inline-block;
    vertical-align: top;

    &-body {
      padding: $s-general * 2;
      border: 1px solid $c-border;
      border-bottom: 0;
    }

    &-name {
      margin: 0 0 $s-general;
      text-transform: capitalize;
    }

    &-image {
      width: 100%;
      height: auto;
      display: block;
      margin: $s-general auto;
    }

    &-category {
      font-style: italic;
    }

    &-add {
      width: 100%;
    }
  }

  &.list-view &-item {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $c-border;

    &-body {
      display: table-cell;
      width: 70%;
      padding: 0;
      border: 0;

      @include clearfix();
    }

    .field {
      width: 50%;
      padding: $s-general;
      float: left;
      box-sizing: border-box;
    }

    .menu-item-add-wrapper {
      display: table-cell;
      width: 100%;
    }
  }

  &-item-details {
    .field {
      margin-bottom: $s-general * 2;
    }
  }
}

.menu-item-name {
  font-size: 1.7rem;
  font-weight: bold;
}

.menu-display {
  border: 1px solid $c-border;
  border-top: 0;
  padding: $s-general;
  margin-bottom: $s-general;
}
