.orders-list {
  position: relative;
  border: 1px solid $c-border;
  min-height: 75vh;
  overflow: auto;
}

.orders-total {
  padding: $s-general;
  border: 1px solid $c-border;
  border-top: 0;
}

.order-item {
  margin: 0;
  border-bottom: 1px solid $c-border;

  a {
    display: block;
    padding: $s-general;
  }
}
