.order-number {
  margin-bottom: $s-general;
}

.order-status {
  font-weight: bold;
  border: 1px dashed $c-border;
}
.is-paid,
.is-cancelled {
  .order-status {
    border-color: #fff;
  }
}

.is-pending {
  .order-status {
    background-color: $pending;
    color: contrast-text($pending);
  }
}
.is-paid {
  .order-status {
    background-color: $paid;
    color: contrast-text($paid);
  }
}
.is-cancelled {
  .order-status {
    background-color: $cancelled;
    color: contrast-text($cancelled);
  }
}
