$title-marker-width: 15px;

.orders-type-title {
  position: relative;
  margin-left: $title-marker-width;
  padding-left: $s-general;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: $s-general;
    bottom: $s-general;
    left: -$title-marker-width;
    width: $title-marker-width;
    border: 1px solid $c-border;
  }

  &.pending:before {
    background-color: $pending;
  }
  &.paid:before {
    background-color: $paid;
  }
  &.cancelled:before {
    background-color: $cancelled;
  }
}

.orders-list {
  // display: none;
  position: relative;
  border: 1px solid $c-border;
  height: 65vh;
  overflow: auto;

  &.current {
    display: block;
  }
}

.order-item {
  margin: 0;
  border-bottom: 1px solid $c-border;

  a {
    display: block;
    padding: $s-general;

    &:hover {
      background-color: $c-hover;
    }
  }
}

.pagination-bar {
  padding: $s-general;
  border: 1px solid $c-border;
  border-top: 0;

  .orders-total {
    font-size: 0.9em;
  }
}

.orders-pages {
  a {
    cursor: pointer;
  }

  a, span {
    display: inline-block;
    padding: $s-general / 2 12px;
    border: 1px solid $c-border;

    & + a,
    & + span {
      border-left: 0;
    }
  }
}
