.orders-list {
  // display: none;
  position: relative;
  border: 1px solid $c-border;
  height: 65vh;
  overflow: auto;

  &.current {
    display: block;
  }
}

.order-item {
  margin: 0;
  border-bottom: 1px solid $c-border;

  a {
    display: block;
    padding: $s-general;
  }
}

.pagination-bar {
  padding: $s-general;
  border: 1px solid $c-border;
  border-top: 0;
}

.orders-pages {
  a, span {
    display: inline-block;
    padding: $s-general / 2 $s-general;
    border: 1px solid $c-border;

    & + a,
    & + span {
      border-left: 0;
    }
  }
}
