.select-date-range-wrapper {
  border: 1px solid $c-border;

  @include clearfix;
}

.date-from,
.date-to {
  margin: $s-general $s-general;

  @include clearfix;
}

.set-date {
  display: inline-block;
  float: right;
  margin-bottom: $s-general;
  cursor: pointer;
}

.date-select-wrapper {
  clear: both;
}
