.select-date-range-wrapper {
  border: 1px solid $c-border;

  @include clearfix;
}

.date-from,
.date-to {
  margin: $s-general $s-general;
}

.set-date {
  display: block;
  text-align: right;
  margin-bottom: $s-general;
  cursor: pointer;
}

.date-select-wrapper {
  clear: both;
}
