.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-group {
  button:not(:first-child),
  .button:not(:first-child) {
    margin-left: $s-general;
  }
}

.button-block {
  width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: $c-muted;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: italic;
}

.message-wrapper {
  position: relative;
  min-height: 100px;
}

.message-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.empty-message,
.loading-message {
  display: block;
  font-style: italic;
  font-weight: 300;
  color: $c-muted;
  letter-spacing: 1px;
}

.error-message {
  color: red;
  letter-spacing: 1px;
}

.loading-message {
  @include animation(fadeIn 0.7s ease-in);
}

.v-margin {
  margin-top: $s-general;
  margin-bottom: $s-general;
}
.v-double-margin {
  margin-top: $s-general * 2;
  margin-bottom: $s-general * 2;
}

.icon-spacing {
  margin-right: $s-general;
}

.icon-big {
  font-size: 1.6em;
  opacity: 0.8;
}

.loading-icon {
  font-size: 3.5em;
  margin: $s-general;
}

.label {
  display: inline-block;
  margin-right: 10px;
  color: $c-label;
  letter-spacing: 1px;
  font-weight: bold;
}

.field-label {
  @extend .label;
  min-width: 100px;

  &.label-width-auto {
    min-width: inherit;
  }
}

.order-number {
  display: inline-block;
  font-weight: bold;
  color: $c-label;
  letter-spacing: 1px;
  // border-bottom: 1px solid $c-border;
  // padding-bottom: $s-general / 2;
}

.field-group {
  & + .field-group {
    margin-top: $s-general;
  }
}

.input-error {
  border-color: #f04124 !important;
}

.checkbox-button {
  border: 1px solid $c-border;
  padding: $s-general / 2 $s-general;

  .checkbox-label {
    font-weight: normal;
    margin-right: 10px;
  }

  input {
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}
